body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    color: black;
    font-style: normal;
}

header {
    background-color:brown;
    border-style: solid;
    height: 175px;
}

#smiley {
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    border: gold;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

#h_title {
    color: white;
    font-size: 40px;
    top: 10px;
    float: left;
    margin-left: 30px;
}

#h_p {
    color: white;
    font-size: 20px;
    float: left;
    margin-left: 20px;
}



nav {
    background-color: mistyrose;
    padding-right: 20px;
    float: left;
    width: 18%;
    border-style: solid;
    border-color: black;
    height: fit-content;
}



.recipeTitle {
    margin-left: 2%;
}

.recipes {
    border-style: solid;
    background-color: #ECCBCB;
    width: 80%;
    margin-left: 20%;
    height: 300px;
}

.rc_image {
    height: 200px;
    width: 200px;
    border-style: double;
    margin-left: 2%;
    }


.directions {
    float: right;
    align-items: baseline;
 }





