body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    color: black;
    font-style: normal;
    opacity: 50%;
}

header {
    background-color: purple;
    border: gold;
    border-width: 10px;
    height: 175px;
}

#smiley {
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    border: gold;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

#h_title {
    color: white;
    font-size: 36px;
    top: 10px;
    float: left;
    margin-left: 30px;
}

#h_p {
    color: white;
    font-size: 20px;
    float: left;
    top: 160px;   
    margin-left: 30px;
}

.rc_image {
    height: 200px;
    width: 200px;
}